@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fascinate', sans-serif;
}

body {
    background-color: rgba(255, 45, 0, 0.8);
}

.main, h1, .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    font-size: 50px;  
}

.buttons {
    justify-content:space-evenly; 
}

.change, .reset {
    background-color: white;
    font-size: 21px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    color: black;
}

.change:hover, .reset:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px black;
}

.container {
    margin: 10px;
    height: 550px;
    width: 550px;
    display: grid;
    border: 1px solid black;
}

.square {
    background-color: white;
    border: 1px solid black;
    cursor: url(32px.png), pointer;
}

h1 {
    text-shadow: white 1px 1px;
}